:root {
  --dark-text-color: #000;
  --light-text-color: #fff;
  --light-grey-text-color: #bebebe;
  --super-light-grey-text-color: rgb(236 235 235 / 60%);
  --super-light-grey-text-color-hover: rgb(236 235 235 / 50%);
  --hover-select-color: #f3f3f3;
  --grey-text-color: #737373;
  --primary-text-color: #2d4051;
  --primary-text-color-rgb: rgb(45 64 81);
  --active-select-color: rgb(229 231 235);
  --accent-text-color: #c4b375;
  --yellow-color: #fdd836;
  --error-text-color: rgb(224 124 124);
  --shadow-color: rgb(0 0 0 / 15%);
  --light-shadow-color: rgb(0 0 0 / 5%);
  --font-family-base: 'Roboto', sans-serif;
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --font-size-base: 15px;
  --font-size-xl: 20px;
  --header-mobile-bg: rgb(0 0 0 / 70%);
  --bg-gradient-base: linear-gradient(to right, #1f2c38 0%, #1f2c38 30%, #5986a3 100%);
  --bg-gradient-grey: linear-gradient(135deg, #1a1b1e 0%, #2b2e33 35%, #6b727c 100%);
  --bg-gradient-base-reverse: linear-gradient(to left, #1f2c38 0%, #1f2c38 20%, #5986a3 100%);
  --overlay-gradient: linear-gradient(to bottom, rgb(0 0 0 / 30%) 0%, rgb(0 0 0 / 40%) 100%);
}
