<div class="analitics-page">
<app-slider [slides]="sliderData" [enableAutoSlide]="false" [enableDrag]="false"></app-slider>
<div class="container">
  <div class="text-block">
    <p class="text indent">
     ФГУП «НТЦ оборонного комплекса «Компас»» осуществляет комплексную аналитическую деятельность в
      сфере научных исследований и разработок. Основыные направления:
    </p>
    <p class="text"><span class="marker">‣</span> Научно-техническая аналитика в области естественных и технических наук.</p>
    <p class="text"><span class="marker">‣</span> Исследовательская деятельность по оборонной тематике.</p>
    <p class="text"><span class="marker">‣</span> Аналитическое сопровождение научно-технических проектов.</p>
  </div>
  <div class="journals">
    <app-menu-items
      [initialActiveId]="1"
      [defaultVariant]="'icon'"
      [items]="menuAnaliticsJournalsIcons"
    />
  </div>
</div>
<router-outlet />

</div>
